.titreDiscipline {
    height: 15vh;
    text-align: center;
    font-family: 'Glass Antiqua';
    font-size: 1.8rem;
}

.titreDiscipline h2 {
    padding-top: 5vh;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {

    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:1000px) {
    
    }
  
    /* TAILLE GRANDE */
    @media screen and (min-height:1100px) {
    
    }
  
    /* TAILLE TRÈS GRANDE */
    @media screen and (min-height:1300px) {
    
    }
    
  }
  
  /* RESPONSIVE MOBILE */
  @media screen and (max-width:500px) {
  
    /* TAILLE TRÈS PETIT */
    @media screen and (max-height:599px) {
    
    }
  
    /* TAILLE PETIT */
    @media screen and (min-height:600px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:800px) {
    
    }
  
  }