.carte {
  border: solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.carte img {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
}
.titreCarte {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  font-family: 'Julius Sans One';
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.5;
}
.carte:nth-child(1) .titreCarte {
  background: #ebd4cb;
}
.carte:nth-child(2) .titreCarte {
  background: #d8fdff;
}
.carte:nth-child(3) .titreCarte {
  background: #cff0b5;
}
.carte:nth-child(4) .titreCarte {
  background: #f4daa3;
}
.informationsHoraires {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: none;
  font-family: 'Glass Antiqua';
  font-size: 1.2rem;
  text-align: justify;
}
.listeInfos {
  margin-bottom: 3vh;
}

.titreCarte.expanded {
  height: 100%;
}
.titreCarte.expanded .informationsHoraires {
  display: block;
  opacity: 1;
}

.cartes {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
  .carte img {
    max-width: 250px;
  }
  .cartes {
    margin: auto 10vw;
  }
  .informationsHoraires {
    font-size: 1.1rem;
  }
  /* TAILLE PETITE */
  @media screen and (max-height:799px) {
    .carte img {
      max-width: 180px;
    }
    .cartes {
      margin: 2vh 0;
    }
    .informationsHoraires {
      font-size: 0.8rem;
    }
    .titreCarte {
      font-size: 1rem;
    }
  }
  /* TAILLE NORMALE */
  @media screen and (min-height:1000px) {

  }

  /* TAILLE GRANDE */
  @media screen and (min-height:1100px) {
    .carte img {
      max-width: 280px;
    }
    .informationsHoraires {
      font-size: 1.3rem;
    }

  
  }

  /* TAILLE TRÈS GRANDE */
  @media screen and (min-height:1300px) {
    .carte img {
      max-width: 350px;
    }
    .informationsHoraires {
      font-size: 1.5rem;
    }
  
  }
  
}
/* RESPONSIVE MOBILE */
@media screen and (max-width:500px) {
  .carte img {
    max-width: 160px;
  }
  .informationsHoraires {
    font-size: 0.7rem
  }
  /* TAILLE NORMALE */
  @media screen and (min-height:800px) {
    .carte img {
      max-width: 180px;
    }
    .informationsHoraires {
      font-size: 0.9rem;
    }
    .cartes {
      margin: auto;
    }
    .titreCarte {
      height: auto;
    }
  }
}