form {
    position: relative;
}
input, textarea {
    border-radius: 25px;
    width: 80%;
    height: 6vh;
    margin-bottom: 2vh;
    padding-left: 10px;
    font-family: 'Glass Antiqua';
    font-size: 1.1rem;
}
textarea {
    resize: none;
    overflow: auto;
    height: 20vh;
}
.boutonEnvoyer {
    width: 60%;
    height: 5vh;
    border-radius: 25px;
    font-family: 'Julius Sans One';
    font-size: 1.3rem;
    background-color: #413735;
    color: white;
    cursor: pointer;
}
.envoi {
    border: solid 2px;
    width: 25vw;
    height: 8vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top:30vh;
    left: 4vw;
    background: #413735;
    color: white;
    border-radius: 25px;
    font-family: 'Glass Antiqua';
    font-size: 1.2rem;
}
.boutonFermer {
    font-family: 'Julius Sans One';
    font-size: 1.1rem;
    background: white;
    cursor: pointer;
}
/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
    input, textarea {
        width: 60%;
        font-size: 1.4rem;
    }
    .boutonEnvoyer {
        width: 40%;
        font-size: 1.7rem;
    }
    .envoi {
        height: fit-content;
        width: 25vw;
        left: 35%;
        top: 56%;
    }
    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
        input, textarea {
            font-size: 1.2rem;
        }
        .boutonEnvoyer {
            font-size: 1.5rem;
        }
    }
  }
/* RESPONSIVE MOBILE */
@media screen and (max-width:500px) {
.envoi {
    width: 40vw;
    left: 27%;
    top: 54%;
}
}