.questionReponse {
    border: solid 2px;
    width: 50vw;
    border-radius: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.question p {
    width: 90%;
    font-family: 'Glass Antiqua';
    font-size: 1.2rem;
}

.question svg {
    width: 10%;
}

.reponse {
    padding-bottom: 2vh;
    font-size: 1.2rem;
    font-family: 'Srisakdi';
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
    .questionReponse {
        background: white;
        width: 80vw;
    }
    .question {
        min-height: 6vh;
    }

    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
        .question p {
            font-size: 1.1rem;
        }
        .reponse {
            font-size: 1rem;
        }
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:1000px) {
        .question p {
            font-size: 1.4rem;
        }
        .reponse {
            font-size: 1.3rem;
        }
    
    }
  
    /* TAILLE GRANDE */
    @media screen and (min-height:1100px) {
    
    }
  
    /* TAILLE TRÈS GRANDE */
    @media screen and (min-height:1300px) {
        .question p {
            font-size: 1.5rem;
        }
        .reponse {
            font-size: 1.5rem;
        }
    
    }
    
  }
  
  /* RESPONSIVE MOBILE */
  @media screen and (max-width:500px) {
    .question p, .reponse {
        font-size: 1rem;
    }
  
    /* TAILLE TRÈS PETIT */
    @media screen and (max-height:599px) {
    
    }
  
    /* TAILLE PETIT */
    @media screen and (min-height:600px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:800px) {
    
    }
  
  }