.containerContact {
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    background-image: url(../../../public/images/contact/salle-de-danse.webp);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}
.titreContact {
    color: white;
    font-family: 'Julius Sans One';
    font-size: 1.8rem;
    padding: 5%;
}
.formulaire {
    grid-row: 1 / -1;
    width: 100%;
    text-align: center;
}
.renseignements {
    display: flex;
    align-items: center;
    justify-content: center;
}
.map {
    width: 50%;
    height: 35vh;
    border-radius: 25px;
    background: #413735;
}
.adresseClub {
    font-family: 'Glass Antiqua';
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
}
.logos {
    position: relative;
    grid-column: 2;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}
.logos .numTel {
    position: absolute;
    top: 5vh;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 1.5rem;
}
.logoFbContact, .logoTel, .logoMap {
    cursor: pointer;
}
/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
    .containerContact {
        width: 100%;
        margin: 0 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .formulaire {
        position: relative;
    }
    .renseignements {
        position: absolute;
        width: 100%;
        align-items: normal;
        top: 20%;
    }
    .adresseClub {
        font-size: 1.8rem;
        padding: 10px;
    }
    .logos {
        position: absolute;
        bottom: 1vh;
        right: 4vw;
        padding-right: 0;
        width: 100%;
    }
    .logos .numTel {
        top: -4vh;
    }
}
/* RESPONSIVE MOBILE */
@media screen and (max-width:500px) {
.map {
    height: 30vh;
}
.adresseClub {
    font-size: 1rem;
    padding: 5px;
}
}