.containerContact {
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    background-image: url(../../../public/images/contact/salle_de_danse.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

.titreContact {
    color: white;
    font-family: 'Julius Sans One';
    font-size: 1.8rem;
    padding: 5%;
}

.formulaire {
    grid-row: 1 / -1;
    width: 100%;
    text-align: center;
}

.logos {
    position: relative;
    grid-column: 2;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.logos .numTel {
    position: absolute;
    top: 5vh;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 1.5rem;
}

.logoFb, .logoTel {
    cursor: pointer;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {

    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:1000px) {
    
    }
  
    /* TAILLE GRANDE */
    @media screen and (min-height:1100px) {
    
    }
  
    /* TAILLE TRÈS GRANDE */
    @media screen and (min-height:1300px) {
    
    }
    
  }
  
  /* RESPONSIVE MOBILE */
  @media screen and (max-width:500px) {
  
    /* TAILLE TRÈS PETIT */
    @media screen and (max-height:599px) {
    
    }
  
    /* TAILLE PETIT */
    @media screen and (min-height:600px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:800px) {
    
    }
  
  }