.containerFaq {
    display: flex;
    min-height: 85vh;
}

.titreFaq {
    position: relative;
    width: 30%;
    background: #5f92a6;
    font-family: 'Glass Antiqua';
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 5%;
}

.titreFaq img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
}

.questionsReponses {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    gap: 3vh;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
    .containerFaq {
        position: relative;
    }
    .questionsReponses {
        align-items: normal;
        position: absolute;
        left: 10vw;
        margin-top: 15vh;
    }

    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
        .titreFaq {
            font-size: 1.2rem;
        }
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:1000px) {
    
    }
  
    /* TAILLE GRANDE */
    @media screen and (min-height:1100px) {
    
    }
  
    /* TAILLE TRÈS GRANDE */
    @media screen and (min-height:1300px) {
    
    }
    
  }
  
  /* RESPONSIVE MOBILE */
  @media screen and (max-width:500px) {
  
    /* TAILLE TRÈS PETIT */
    @media screen and (max-height:599px) {
    
    }
  
    /* TAILLE PETIT */
    @media screen and (min-height:600px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:800px) {
    
    }
  
  }