.presentation {
    background: #fbfbf5;
    display: flex;
    justify-content: space-between;
    width: 110%;
    z-index: 1;
    height: 25vh;
    padding-left: 10px;
}

.presentation img {
    width: 20%;
    max-width: 20%;
    height: auto;
}

.textePresentation {
    width: 80%;
    padding: 15px;
    font-family: 'glass antiqua';
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: justify;
    display: flex;
    align-items: center;
}

.presentations {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 10vh;
    margin-left: 2vw;
}

.presentations > div:nth-child(even) {
    flex-direction: row-reverse;
  }

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
  .presentation {
    width: 125%;
  }
  .presentation img {
    width: 30%;
    max-width: 30%;
  }
  .textePresentation {
    width: 70%;
    font-size: 1.4rem;
  }
  .presentations {
    margin-top: 15vh;
  }

    /* TAILLE PETITE */
    @media screen and (max-height:799px) {
      .textePresentation {
        width: 80%;
        font-size: 1rem;
      }
      .presentation img {
        width: 20%;
        max-width: 20%;
      }
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:1000px) {
    
    }
  
    /* TAILLE GRANDE */
    @media screen and (min-height:1100px) {
    
    }
  
    /* TAILLE TRÈS GRANDE */
    @media screen and (min-height:1300px) {
      .textePresentation {
        font-size: 1.8rem;
      }
    
    }
    
  }
  
  /* RESPONSIVE MOBILE */
  @media screen and (max-width:500px) {
  
    /* TAILLE TRÈS PETIT */
    @media screen and (max-height:599px) {
    
    }
  
    /* TAILLE PETIT */
    @media screen and (min-height:600px) {
    
    }
  
    /* TAILLE NORMALE */
    @media screen and (min-height:800px) {
    
    }
  
  }