@import "./reset/index.css";
@import "./accueil/index.css";
@import "./professeur/index.css";
@import "./faq/index.css";
@import "./discipline/index.css";
@import "./contact/index.css";
@import "../composants/header/header.css";
@import "../composants/presentation/presentation.css";
@import "../composants/question/question.css";
@import "../composants/carte/carte.css";
@import "../composants/formulaire/formulaire.css";
@import "./erreur/index.css";
@font-face {
    font-family: "Glass Antiqua";
    src: url("../../public/fonts/glassAntiqua/GlassAntiqua-Regular.ttf") format('truetype');
  }
@font-face {
    font-family: "Julius Sans One";
    src: url("../../public/fonts/JuliusSansOne/JuliusSansOne-Regular.ttf") format('truetype');
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
section {
    min-height: 85vh;
    padding-top: 15vh;
}